/* Navbar style */
* {
    text-decoration: none;
}
.navbar{
    margin: 0;
    padding-left: 15px;
    padding-right: 15px
    position: absolute;
    
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 36px;
    font-weight: bold;
    color: #4E47FF

}
.signup-button{
    background-color: #4E47FF;
   margin-left: 10px;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
     color: #f6f8fc;
     font-size: 16px;
     font-weight: bold;
   
}

    body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f6f8fc;
  color: #1a1a1a;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
.background-pattern {
  background-image: url(images/Hero-bg.png);
  
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  position: absolute;
  header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}

}
/* Hero Section */
main {
  text-align: center;
  margin-top: 120px;
}
h1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.4;
  color: #1a1a1a;
  margin-bottom: 40px;
}
.action-section{
  padding: 80px 60px;
  display: flex;
  justify-content: center;
  background-color: #f6f8fc;
}
.action-content {
  display: flex;
  align-items: center;
  max-width: 1100px;
  gap: 60px;
  flex-wrap: wrap;
}
.text-block {
  flex: 1;
  min-width: 280px;
}

.text-block h2 {
  font-size: 28px;
  color: #1a1a1a;
  margin-bottom: 15px;
}

.text-block p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  max-width: 400px;
}

.action-btn {
  background-color: #4E47FF;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
.image-block{
  width: 100%;
  max-width: 403px;
  height: 328px;
  border-radius: 48px;
  display: flex;
}
.stats-section {
  background-color: #e9eaff;
  padding: 60px 30px;
  text-align: center;
}

.stats-container {
  max-width: 1140px;
  height: 306px;
  margin: 0 auto;
  background: #dfe3ff;
  padding: 80px 50px;
  border-radius: 24px;
  gap: 10;
}
.stats-section h3 {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #000000;
}
.stats-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.stat h4 {
  font-size: 50px;
  color: #4E47FF;
  font-weight: 700;
  margin-bottom: 5px;
}
.stat p {
  font-size: 15px;
  color: #252432;
  font-weight: bold;
  gap: 40;
}
.testimonials{
  background-color: #ffffff;
  padding: 0px;
  text-align: center;

}
.testimonials h2 {
  font-size: 24px;
  margin-bottom: 50px;
  color: #1e1e1e;}
.testimonial-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.testimonial-card {
  background: #ffffff;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  max-width: 280px;
  text-align: left;
}
.stars {
  color: #FFB805;
  font-size: 18px;
  margin-bottom: 10px;
}

.testimonial-card h4 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #1a1a1a;
}
.testimonial-card p {
  font-size: 14px;
  color: #757575;
  margin-bottom: 20px;
}
.reviewer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.reviewer img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

 



























